# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
https://accounts.spotify.com/authorize?client_id=c57610603fbc4ba0aa2597610c122d82&response_type=token&redirect_uri=http://localhost:3000/